.root {
  user-select: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-darken);
  padding: 0.3rem;
  border-radius: 15px;
}
